@using Project.Models

@{
    ViewBag.Title = "Threads";
    SuperUser su = Session["user"] as SuperUser;
   

}

<div class="container">
    <img src="http://www.metalsucks.net/wp-content/uploads/2017/09/rickandmorty.jpeg" id="img_home" />
</div>



<div class="container">
 
    @if (ViewBag.list.Count == 0)
    {
        <div class="container">
            <h1 style="text-align:left">No Threads :(</h1>
        </div>
    }
    else
    {
        <div class="container">
            <h1 style="text-align:left">Threads</h1>
        </div>
        <div class="container col-lg-10">
            <form action="ThreadPage" method="post" name="form1">
                <table class="table table-hover table-responsive col-lg-10">
                    <thead>
                        <tr>
                            <th class="col-md-3">Title</th>
                            <th class="col-md-2">Author</th>
                            <th class="col-md-1"></th>
                            <th class="col-md-1"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @for (int i = 0; i < ViewBag.list.Count; i++)
                        {
                            <tr>
                                <td>@ViewBag.list[@i].Title</td>
                                <td>@ViewBag.list[@i].Author</td>
                                @if (su != null)
                                {
                                    if (su.getType() == "RICK")
                                    {
                                        <td><input onclick="return DeleteThread();" class="btn btn-danger pull-right" id="deletebtn" name="button@(i)" type="submit" value="Delete Thread" /></td>
                                    }
                                }
                               
                                <td><input onclick="return ViewThread();" class="btn btn-success pull-right" id="@ViewBag.list[@i].ID" name="button@(i)" type="submit" value="Go to thread &raquo" /></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </form>

        </div>
    }
</div>

@if (ViewBag.message != null)
{
    <script type="text/javascript">
    alert('@ViewBag.message');
    </script>
}

<script language="Javascript">


function DeleteThread()
{
    document.form1.action = "DeleteThread"
    document.form1.submit();             // Submit the page
    return true;
}
function ViewThread()
{
    document.form1.action = "ThreadPage"
    document.form1.submit();             // Submit the page
    return true;
}
</script>