@using Project.Models
@{
    ViewBag.Title = "Morty's Home";
    SuperUser u = Session["user"] as SuperUser;
    string name = u.Username;
}
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

<div class="container">
    <img src="~/Pictures/morty.png" id="morty_home" />
</div>

@Html.Partial("WelcomePartial")

@Html.Partial("ChangePasswordPartial")

<div class="container" >
    <div class="container col-lg-9">
        <h2>My Posts</h2>
        <h4 id="status"></h4>
        <table style="display:none" id="thread_tbl" class="table table-hover ">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Publish time</th>
                </tr>
            </thead>
        </table>
    </div>
</div>


<script language="javascript">
    $("#status").text("Loading posts...");
    document.getElementById("thread_tbl").style.display = 'none';
    $.get("GetThreadJson", null, BindData);
    function BindData(threads) {
        var tbl = $("#thread_tbl");
        var name = '@name';
        var postCounter = 0;
        for (k = 0; k < threads.length; k++) {

            if (threads[k].Author.toLowerCase() == name.toLowerCase()) {
                postCounter = postCounter + 1;
                var d = threads[k].time.substring(6, threads[k].time.length - 2);
                var myDate = new Date(d * 1);
                var h = (myDate.getHours() < 10) ? ("0" + myDate.getHours()) : myDate.getHours();
                var m = (myDate.getMinutes() < 10) ? ("0" + myDate.getMinutes()) : myDate.getMinutes();

                var newRow = "<tr>" +
                    "<td>" + threads[k].Title + "</td>" +
                    "<td>" + myDate.getDate() + "/" + (myDate.getMonth() + 1) + "/" + myDate.getFullYear() + " | " + h + ":"+ m + "</td>" +
                    +"</tr>"
                tbl.append(newRow);
            }
        }
        if (postCounter > 0) {
            document.getElementById("thread_tbl").style.display = 'block';
            $("#status").text("");
        }
        else
            $("#status").text("You didn't post any thread yet!");
    }

</script>

@if (ViewBag.message != null)
{
    <script type="text/javascript">
    alert('@ViewBag.message');
    </script>
}

<script type="text/javascript">
    function toggleButton(ref, bttnID) {
        document.getElementById(bttnID).disabled = ((ref.value !== ref.defaultValue) ? false : true);
    }
</script>
