@using Project.Models
@{
    SuperUser u = Session["user"] as SuperUser;
}

<div class="container">
    @if (u.getType() == "RICK")
    {
        <div class="text-center">
            <h1><span>Great to see you again </span><span> @u.Username!!</span></h1>
        </div>
    }
    else
    {
        <div class="text-center">
            <h1><span>Oh great another morty... Hey </span><span> @u.Username</span></h1>
        </div>
    }

</div>